<div class="property-main-photo" style="background-image:url('<%= property_photo_url @properties.last %>')">
  <div class="photo-overlay">
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-lg-5">
          <p class="h4 mb-0"> <%= @user.full_name %> </p>
          <p class="mb-2"> <%= @user.company %> </p>
       </div>
       <div class="col-lg-7 text-center">
         <div class="row mt-sm-3 bg-light p-3">
            <div class="col-3">
              <i class="fas fa-bed text-muted ml-0"></i> <br />
               <small><%= @property_sold %>Sold</small>
            </div>
            <div class="col-3">
              <i class="fas fa-bed text-muted ml-0"></i> <br />
               <small><%= @property_for_sale %>For sale</small>
            </div>
            <div class="col-3">
              <i class="fas fa-bath text-muted ml-0"></i> <br />  
               <small><%= @property_leased %>Leased</small>
            </div> 
            <div class="col-3">
              <i class="fas fa-car text-muted ml-0"></i> <br />                
               <small><%= @property_for_rent %>For rent</small>
            </div>
          </div>
        </div>  
      </div>
      
      <div class="row border-top border-bottom mt-5 mb-4 pt-4 pb-4">
        <div class="col-6">
          Porperties
        </div>  
        <div class="col-6 text-right">
          <strong><%= link_to "Can I afford this property?" , "#", class: "text-success" %> </strong>
        </div>
      </div>

      <div class="row">
        <div class="col"> 
          <p class="h3"><%= @property.name %></p>     
          <p class="h5">Property Description</p>
         
          <div id="prop-details" class="">
            <%= simple_format @property.details %>
          </div>  
          <button class="btn btn-outline-info mt-3 mb-3" id="toggleDetails">Show more</button>  

          <p class="mb-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate incidunt ipsum ducimus illum? Atque eveniet voluptate rerum minima odit eligendi quasi in. Incidunt esse sunt, corrupti amet mollitia veritatis dicta?</p>
          <% if @property.for_sale %>
            <p class="mt-5">* This rate is based on a 30 year mortgage, after paying an initial 10% down payment. Shorter term mortgage would require a higher monthly repayment</p>
          <% end %>            
        </div> 
      </div>
    </div>
    <%= render " properties/agent_details", agent: @user %>
  </div>
</div>
