<div class="agent-details">
  <div class="text-center border p-4 pb-4 ml-3">
    <div class="mb-2">
      <%= profile_picture current_user%> 
    </div>
    <h3 class="h4 m-0"><%=  current_user.full_name %></h3>  
    <p><%=  current_user.company %></p> 

    <button class="btn btn-block btn-info text-uppercase mb-4" id="show-tel" data-number="<%= @agent.number %>"><i class="fas fa-phone mr-2"></i><span>Call</span></button>

    <%= link_to "Profile", profile_path(@agent.id), class: "btn btn-secondary text-uppercase "%>
    <button class="btn btn-success text-uppercase" data-toggle="modal" data-target="#contact-modal">Email</button>
  </div>
</div>
    

