<% @properties.each do |property| %>

<div class="col-4 ">
  <div class="property-border">
    <%= property_thumbnail property%>
    <%# <%= property_photo_url @property %>
      <div class="property-thumb mb-4" style= "background: url(<%= property_thumbnail(property)%>
        <%= link_to property_path(property) do %>
          <div class="property-summary p-3">
            <h3 class="h5"><%= link_to property.name, property_path(property), class: "text-dark" %></h3> 
            <span class= "mr-2">
              <%= property.rooms %> 
              <i class="fas fa-bed text-muted ml-1"></i>            
            </span>

            <span class= "mr-2">
              <%= property.bathrooms %>
              <i class="fas fa-bath text-muted ml-1"></i>             
            </span>

            <span>
              <%= property.parking_spaces %>
              <i class="fas fa-car text-muted ml-1"></i>          
            </span>
            <strong>
              <p class="mt-2">
              <i class="fas fa-home text-muted ml-1"></i> 
              <%= property.address %></p>
            </strong>      
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>   



