<p>HI <%= @agent.first_name  %>,</p>

<p>you have a new message from Location Property.</p>
<p>First name : <%= @first_name %> <br />
Last name : <%= @last_name %><br />
Email : <%= @email %></p>

<%= simple_format @message do  %>
  Message: <%= @message %>
<% end %>
