<!DOCTYPE html>
<html>
  <head>
    <title>LocationProperty</title>
    <%# <meta name="viewport" content="width=device-width,initial-scale=1"> %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= favicon_link_tag asset_path('logo.jpg') %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body id="<%= controller.controller_name %>" class="<%=controller.action_name%> <%= "show-sidebar" if @show_sidebar.present? %> ">
    
    <% if @show_sidebar.nil? %> 
   <header>
      <%= render "layouts/nav/public"%>
        <%= yield %>  
    </header>
   <% else %>
     <%= render "layouts/nav/dashboard"%>

      <div class="container-fluid">
        <div class="row">

          <%= render "layouts/nav/sidebar" %> 
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 mt-4">       
            <%= yield %>
          </main> 
        </div>
      </div>      

    <% end %>
    <div id="notifications"><%= flash_notifications %></div>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script>feather.replace()</script>
  </body>
</html>
